@font-face {
  src: url(../fonts/Montserrat-Regular.woff2) format('woff2'), 
  url(../fonts/Montserrat-Regular.ttf) format('truetype');
  font-family: 'Montserrat';
  font-weight: normal;
}

@font-face {
  src: url(../fonts/Montserrat-Bold.woff2) format('woff2'),
  url(../fonts/Montserrat-Bold.ttf) format('truetype');
  font-family: 'Montserrat';
  font-weight: bold;
}

@font-face {
  src: url(../fonts/OpenSans-Bold.woff2) format('woff2'),
  url(../fonts/OpenSans-Bold.ttf) format('truetype');
  font-family: 'Open Sans';
  font-weight: bold;
}