.movie {
  border-radius: 15px;
  box-shadow: 0px 10px 45px 0 #d0e0eb;
  background-color: #ffffff;
  overflow: hidden;
  @media (min-width: 1400px) {
    max-width: 1171px;
  }
}

.movie__container {
  padding: 82px 107px;
  background-image: url(../img/movie\_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  @media (max-width: 1400px) {
    padding: 41px 53px;
  }
  @media (max-width: 1300px) {
    flex-wrap: wrap;
    justify-content: center;
  }
  @media (max-width: 370px) {
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 10px;
  }
}

.movie__img-container {
  max-width: 310px;
  max-height: 442px;
  margin-right: 52px;
  @media (max-width: 1100px) {
    margin-right: 0;
    margin-bottom: 30px;
  }
}

.movie__img {
  height: 100%;
}

.movie__title {
  font-size: 36px;
  color: white;
}

.movie__about {
  line-height: 1.75;
  margin: 28px 0 31px 0;
  max-width: 545px;
}

.movie__information {
  display: flex;
}

.movie__description {
  line-height: 1.75;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 16px;
  &:last-child {
    margin-bottom: 0;
  }
}

.movie__points {
  margin-right: 100px;
  @media (max-width: 500px) {
    margin-right: 5px;
  }
}

.movie__items {
  font-weight: bold;
  line-height: 1.75;
  max-width: 400px;
  max-height: 200px;
  overflow: hidden;
  margin-bottom: 16px;
  &:last-child {
    margin-bottom: 0;
  }
}

.popup__buttons_place_movie {
  margin-top: 39px;
}

.movie__comments {
  padding: 40px 107px;
}

.movie__comments-link {
  background-image: url(../img/arrow.png);
  display: flex;
  justify-content: flex-start;
  background-repeat: no-repeat;
  background-position: right;
  background-size: 11px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 2.25;
  letter-spacing: 1.2px;
  color: #ff7e70;
  border: none;
  width: 137px;
  outline: none;
  background-color: transparent;
  &_active {
    background-image: url(../img/arrow_active.png);
  }
}

.movie__popup {
  display: none;
  margin-top: 71px;
  &_active {
    display: block;
  }
}

.movie__comment {
  line-height: 1.75;
  text-align: left;
  color: #000000;
  font-weight: bold;
  margin-bottom: 60px;
}

.movie__form {
  display: flex;
  flex-direction: column;
}

.movie__input {
  border-radius: 5px;
  border: solid 1px #e4edf4;
  background-color: #ffffff;
  width: 100%;
  line-height: 58px;
  border: none;
  margin-bottom: 20px;
}

